v1 Uses only 'G', 'FG', 'FGA', 'PTS'

## Load/Clean Data

Sources: 

https://www.basketball-reference.com/leagues/NBA_2024_per_game.html

https://www.basketball-reference.com/players/a/antetgi01/gamelog/2024

In [1]:
import pandas as pd

playerID = "e/edwaran01"   
url = "https://www.basketball-reference.com/players/" + playerID + "/gamelog/2024"


html = pd.read_html(url, header=0)
df = html[7]                              # selects desired table on website page
df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2023-10-25,22-081,MIN,@,TOR,L (-3),1,38:18,...,9,14,1,0,0,2,1,26,14.8,0
1,2,2,2023-10-28,22-084,MIN,NaN,MIA,W (+16),1,33:22,...,2,2,7,0,0,2,3,19,13.6,+21
2,3,3,2023-10-30,22-086,MIN,@,ATL,L (-14),1,37:47,...,5,5,7,1,0,5,4,31,21.9,-9
3,4,4,2023-11-01,22-088,MIN,NaN,DEN,W (+21),1,31:50,...,2,2,1,2,0,4,1,24,14.5,+11
4,5,5,2023-11-04,22-091,MIN,NaN,UTA,W (+28),1,35:44,...,8,8,6,1,0,6,0,31,23.7,+27
5,6,6,2023-11-06,22-093,MIN,NaN,BOS,W (+5),1,38:08,...,9,9,7,1,0,3,5,38,29.7,+18
6,7,7,2023-11-08,22-095,MIN,NaN,NOP,W (+21),1,33:04,...,3,3,8,3,2,3,1,26,21.7,+35
7,8,8,2023-11-10,22-097,MIN,@,SAS,W (+7),1,37:08,...,5,7,5,2,1,4,1,28,20.4,+3
8,9,9,2023-11-12,22-099,MIN,@,GSW,W (+6),1,37:47,...,5,6,7,2,0,4,0,33,23.6,+15
9,10,10,2023-11-14,22-101,MIN,@,GSW,W (+3),1,36:18,...,4,4,4,3,0,5,1,20,12.4,-9
10,11,11,2023-11-15,22-102,MIN,@,PHO,L (-18),1,30:31,...,3,4,4,1,1,1,0,13,8.5,-29
11,12,12,2023-11-18,22-105,MIN,@,NOP,W (+1),1,30:08,...,3,3,4,0,0,3,6,23,11.6,+13
12,13,13,2023-11-20,22-107,MIN,NaN,NYK,W (+17),1,39:08,...,8,10,5,2,0,3,1,23,17.8,+9
13,14,14,2023-11-22,22-109,MIN,NaN,PHI,W (+13),1,35:48,...,4,6,6,2,0,2,2,31,26.0,+19
14,15,15,2023-11-24,22-111,MIN,NaN,SAC,L (-13),1,39:32,...,7,7,5,2,2,4,2,35,27.3,+5
15,16,16,2023-11-26,22-113,MIN,@,MEM,W (+22),1,33:59,...,5,5,7,0,1,2,3,24,21.3,+23
16,17,17,2023-11-28,22-115,MIN,NaN,OKC,W (+3),1,28:01,...,5,5,1,0,1,2,2,21,11.9,0
17,18,NaN,2023-11-30,22-117,MIN,NaN,UTA,W (+11),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
18,19,NaN,2023-12-02,22-119,MIN,@,CHO,W (+6),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
19,20,18,2023-12-06,22-123,MIN,NaN,SAS,W (+8),1,36:53,...,6,7,6,1,1,3,2,17,10.9,+14
20,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
21,21,19,2023-12-08,22-125,MIN,@,MEM,W (+24),1,3:43,...,0,0,1,0,0,0,0,0,0.0,-3
22,22,NaN,2023-12-11,22-128,MIN,@,NOP,L (-14),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
23,23,20,2023-12-14,22-131,MIN,@,DAL,W (+18),1,34:34,...,1,2,11,2,0,5,2,9,0.6,+20
24,24,21,2023-12-16,22-133,MIN,NaN,IND,W (+18),1,33:38,...,2,2,4,3,0,4,3,37,27.7,+17
25,25,22,2023-12-18,22-135,MIN,@,MIA,W (+4),1,39:59,...,8,8,5,3,2,1,1,32,28.6,+6
26,26,23,2023-12-20,22-137,MIN,@,PHI,L (-14),1,36:16,...,6,7,5,0,0,1,2,27,20.4,-10
27,27,24,2023-12-21,22-138,MIN,NaN,LAL,W (+7),1,38:18,...,7,7,5,3,1,5,0,27,21.2,+2
28,28,25,2023-12-23,22-140,MIN,@,SAC,W (+12),1,39:05,...,5,5,10,1,1,5,1,34,25.1,+8
29,29,26,2023-12-26,22-143,MIN,@,OKC,L (-23),1,34:06,...,6,7,6,1,0,4,3,25,17.5,-16
30,30,27,2023-12-28,22-145,MIN,NaN,DAL,W (+8),1,37:52,...,3,3,4,3,1,6,2,44,31.7,+11
31,31,28,2023-12-30,22-147,MIN,NaN,LAL,W (+2),1,38:09,...,3,3,3,0,3,3,3,31,19.0,+8
32,32,29,2024-01-01,22-149,MIN,@,NYK,L (-6),1,37:31,...,4,4,2,0,2,4,1,35,23.9,+2
33,33,30,2024-01-03,22-151,MIN,NaN,NOP,L (-11),1,37:04,...,2,4,5,1,1,6,1,35,24.4,-15
34,34,31,2024-01-05,22-153,MIN,@,HOU,W (+27),1,32:33,...,3,3,5,2,0,5,2,24,15.9,+14

**Data cleaning**

In [2]:
import numpy as np

df = df.drop(df[df.Date == "Date"].index)                    # deletes repeating headers in content
df = df.drop(df[df.GS == "Inactive"].index)                  # deletes games where he was inactive
df = df.drop(columns=["Unnamed: 7", "GS", "+/-"])            # deletes unnamed header and "games started" header
df.rename(columns={'Unnamed: 5': 'Home'}, inplace=True)      # renames "Unnamed 5" to "Home"
df['Home'].replace({np.nan: 'Yes', '@': 'No'}, inplace=True) # reformats "Home" values
df['NextPTS'] = df['PTS'].shift(-1)                          # Shift 'PTS' values down by one and assign to 'NextPTS'
df = df.reset_index(drop=True)                               # resets index

df

,Rk,G,Date,Age,Tm,Home,Opp,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,NextPTS
0,1,1,2023-10-25,22-081,MIN,No,TOR,38:18,8,27,...,9,14,1,0,0,2,1,26,14.8,19
1,2,2,2023-10-28,22-084,MIN,Yes,MIA,33:22,7,15,...,2,2,7,0,0,2,3,19,13.6,31
2,3,3,2023-10-30,22-086,MIN,No,ATL,37:47,13,21,...,5,5,7,1,0,5,4,31,21.9,24
3,4,4,2023-11-01,22-088,MIN,Yes,DEN,31:50,8,16,...,2,2,1,2,0,4,1,24,14.5,31
4,5,5,2023-11-04,22-091,MIN,Yes,UTA,35:44,13,19,...,8,8,6,1,0,6,0,31,23.7,38
5,6,6,2023-11-06,22-093,MIN,Yes,BOS,38:08,15,25,...,9,9,7,1,0,3,5,38,29.7,26
6,7,7,2023-11-08,22-095,MIN,Yes,NOP,33:04,10,22,...,3,3,8,3,2,3,1,26,21.7,28
7,8,8,2023-11-10,22-097,MIN,No,SAS,37:08,9,21,...,5,7,5,2,1,4,1,28,20.4,33
8,9,9,2023-11-12,22-099,MIN,No,GSW,37:47,11,27,...,5,6,7,2,0,4,0,33,23.6,20
9,10,10,2023-11-14,22-101,MIN,No,GSW,36:18,7,16,...,4,4,4,3,0,5,1,20,12.4,13
10,11,11,2023-11-15,22-102,MIN,No,PHO,30:31,4,16,...,3,4,4,1,1,1,0,13,8.5,23
11,12,12,2023-11-18,22-105,MIN,No,NOP,30:08,9,19,...,3,3,4,0,0,3,6,23,11.6,23
12,13,13,2023-11-20,22-107,MIN,Yes,NYK,39:08,9,21,...,8,10,5,2,0,3,1,23,17.8,31
13,14,14,2023-11-22,22-109,MIN,Yes,PHI,35:48,11,22,...,4,6,6,2,0,2,2,31,26.0,35
14,15,15,2023-11-24,22-111,MIN,Yes,SAC,39:32,8,21,...,7,7,5,2,2,4,2,35,27.3,24
15,16,16,2023-11-26,22-113,MIN,No,MEM,33:59,8,14,...,5,5,7,0,1,2,3,24,21.3,21
16,17,17,2023-11-28,22-115,MIN,Yes,OKC,28:01,7,16,...,5,5,1,0,1,2,2,21,11.9,17
17,20,18,2023-12-06,22-123,MIN,Yes,SAS,36:53,4,17,...,6,7,6,1,1,3,2,17,10.9,0
18,21,19,2023-12-08,22-125,MIN,No,MEM,3:43,0,1,...,0,0,1,0,0,0,0,0,0.0,9
19,23,20,2023-12-14,22-131,MIN,No,DAL,34:34,3,19,...,1,2,11,2,0,5,2,9,0.6,37
20,24,21,2023-12-16,22-133,MIN,Yes,IND,33:38,14,23,...,2,2,4,3,0,4,3,37,27.7,32
21,25,22,2023-12-18,22-135,MIN,No,MIA,39:59,13,25,...,8,8,5,3,2,1,1,32,28.6,27
22,26,23,2023-12-20,22-137,MIN,No,PHI,36:16,9,20,...,6,7,5,0,0,1,2,27,20.4,27
23,27,24,2023-12-21,22-138,MIN,Yes,LAL,38:18,9,19,...,7,7,5,3,1,5,0,27,21.2,34
24,28,25,2023-12-23,22-140,MIN,No,SAC,39:05,13,27,...,5,5,10,1,1,5,1,34,25.1,25
25,29,26,2023-12-26,22-143,MIN,No,OKC,34:06,7,16,...,6,7,6,1,0,4,3,25,17.5,44
26,30,27,2023-12-28,22-145,MIN,Yes,DAL,37:52,12,23,...,3,3,4,3,1,6,2,44,31.7,31
27,31,28,2023-12-30,22-147,MIN,Yes,LAL,38:09,10,23,...,3,3,3,0,3,3,3,31,19.0,35
28,32,29,2024-01-01,22-149,MIN,No,NYK,37:31,11,21,...,4,4,2,0,2,4,1,35,23.9,35
29,33,30,2024-01-03,22-151,MIN,Yes,NOP,37:04,11,22,...,2,4,5,1,1,6,1,35,24.4,24
30,34,31,2024-01-05,22-153,MIN,No,HOU,32:33,8,17,...,3,3,5,2,0,5,2,24,15.9,None

In [4]:
print(df.dtypes)

Rk         object
G          object
Date       object
Age        object
Tm         object
Home       object
Opp        object
MP         object
FG         object
FGA        object
FG%        object
3P         object
3PA        object
3P%        object
FT         object
FTA        object
FT%        object
ORB        object
DRB        object
TRB        object
AST        object
STL        object
BLK        object
TOV        object
PF         object
PTS        object
GmSc       object
NextPTS    object
dtype: object

In [5]:
# Convert multiple columns to numeric
columns_to_convert = ['G', 'FG', 'FGA', 'PTS', 'NextPTS']

for column in columns_to_convert:
    df[column] = pd.to_numeric(df[column], errors='coerce').fillna(0)

In [6]:
playerstats = df[['G', 'FG', 'FGA', 'PTS', 'NextPTS']]
print(playerstats.dtypes)

G            int64
FG           int64
FGA          int64
PTS          int64
NextPTS    float64
dtype: object

In [7]:
playerstats

     G  FG  FGA  PTS  NextPTS
0    1   8   27   26     19.0
1    2   7   15   19     31.0
2    3  13   21   31     24.0
3    4   8   16   24     31.0
4    5  13   19   31     38.0
5    6  15   25   38     26.0
6    7  10   22   26     28.0
7    8   9   21   28     33.0
8    9  11   27   33     20.0
9   10   7   16   20     13.0
10  11   4   16   13     23.0
11  12   9   19   23     23.0
12  13   9   21   23     31.0
13  14  11   22   31     35.0
14  15   8   21   35     24.0
15  16   8   14   24     21.0
16  17   7   16   21     17.0
17  18   4   17   17      0.0
18  19   0    1    0      9.0
19  20   3   19    9     37.0
20  21  14   23   37     32.0
21  22  13   25   32     27.0
22  23   9   20   27     27.0
23  24   9   19   27     34.0
24  25  13   27   34     25.0
25  26   7   16   25     44.0
26  27  12   23   44     31.0
27  28  10   23   31     35.0
28  29  11   21   35     35.0
29  30  11   22   35     24.0
30  31   8   17   24      0.0

## Data Seperation/Splitting

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = df[['G', 'FG', 'FGA', 'PTS']]
y = df['NextPTS']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

# create and train the model
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

Apply model to make prediction

In [9]:
y_lr_train_pred = lr.predict(X_train)
y_lr_test_pred = lr.predict(X_test)

In [10]:
from sklearn.metrics import mean_squared_error, r2_score

lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)

lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)

In [11]:
lr_results = pd.DataFrame(["Linear Regression", lr_train_mse, lr_train_r2, lr_test_mse, lr_test_r2]).transpose()
lr_results.columns = ["Method", "Training MSE", "Training R2", "Test MSE", "Test R2"]
lr_results

              Method Training MSE Training R2    Test MSE   Test R2
0  Linear Regression    75.454156    0.163363  155.968349 -0.505012

## Actually Predicting

In [18]:
X_new = playerstats.drop(columns=["NextPTS"])
X_new = X_new.loc[[5]]   
X_new

   G  FG  FGA  PTS
5  6  15   27   36

In [19]:
predicted_points = lr.predict(X_new)
print("Predicted Points for Next Game:", predicted_points)

Predicted Points for Next Game: [24.64157854]