## Load/Clean Data

Sources: 

https://www.basketball-reference.com/leagues/NBA_2024_per_game.html

In [21]:
import pandas as pd

playerID = "d/doncilu01"   
url = "https://www.basketball-reference.com/players/" + playerID + "/gamelog/2024"

html = pd.read_html(url, header=0)
df = html[7]                              # selects desired table on website page
df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2023-10-25,24-239,DAL,@,SAS,W (+7),1,34:14,...,12,13,10,2,0,4,1,33,28.4,+4
1,2,2,2023-10-27,24-241,DAL,NaN,BRK,W (+5),1,36:02,...,9,10,7,0,0,0,1,49,45.0,+9
2,3,3,2023-10-30,24-244,DAL,@,MEM,W (+15),1,40:00,...,12,12,12,1,1,6,4,35,28.9,+6
3,4,4,2023-11-01,24-246,DAL,NaN,CHI,W (+9),1,40:03,...,7,7,10,2,1,6,2,18,13.0,+11
4,5,5,2023-11-03,24-248,DAL,@,DEN,L (-11),1,38:16,...,7,10,8,0,1,9,2,34,21.9,-4
5,6,6,2023-11-05,24-250,DAL,NaN,CHO,W (+6),1,36:25,...,11,12,9,0,1,4,3,23,18.3,+3
6,7,7,2023-11-06,24-251,DAL,@,ORL,W (+15),1,35:09,...,3,3,6,2,0,6,2,29,21.0,+7
7,8,8,2023-11-08,24-253,DAL,NaN,TOR,L (-11),1,38:24,...,7,7,8,4,1,4,3,31,23.2,-7
8,9,9,2023-11-10,24-255,DAL,NaN,LAC,W (+18),1,31:41,...,6,6,6,1,0,1,1,44,41.7,+32
9,10,10,2023-11-12,24-257,DAL,@,NOP,W (+12),1,27:59,...,4,4,9,1,0,2,0,30,27.9,+14
10,11,11,2023-11-14,24-259,DAL,@,NOP,L (-21),1,26:15,...,1,2,2,0,0,8,0,16,0.4,-26
11,12,12,2023-11-15,24-260,DAL,@,WAS,W (+13),1,32:25,...,6,7,10,0,0,3,2,26,20.3,+12
12,13,13,2023-11-18,24-263,DAL,@,MIL,L (-7),1,35:19,...,8,9,9,0,0,3,1,35,27.6,-17
13,14,14,2023-11-19,24-264,DAL,NaN,SAC,L (-16),1,31:47,...,9,10,7,3,0,2,0,25,23.0,-14
14,15,15,2023-11-22,24-267,DAL,@,LAL,W (+3),1,38:45,...,12,12,8,2,0,0,2,30,25.8,-11
15,16,16,2023-11-25,24-270,DAL,@,LAC,L (-19),1,38:05,...,3,3,4,2,2,4,4,30,17.4,-14
16,17,17,2023-11-28,24-273,DAL,NaN,HOU,W (+6),1,37:56,...,9,9,9,2,0,0,3,41,36.1,+12
17,18,NaN,2023-12-01,24-276,DAL,NaN,MEM,L (-14),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
18,19,18,2023-12-02,24-277,DAL,NaN,OKC,L (-6),1,45:59,...,13,15,18,2,2,7,2,36,36.5,-7
19,20,19,2023-12-06,24-281,DAL,NaN,UTA,W (+50),1,31:57,...,8,10,11,1,0,4,2,40,35.0,+34
20,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
21,21,20,2023-12-08,24-283,DAL,@,POR,W (+13),1,41:09,...,6,6,10,1,1,5,1,32,21.5,+13
22,22,21,2023-12-11,24-286,DAL,@,MEM,W (+7),1,43:53,...,8,8,6,2,2,3,3,35,29.3,+3
23,23,22,2023-12-12,24-287,DAL,NaN,LAL,W (+2),1,43:21,...,6,6,17,1,0,4,0,33,28.9,+10
24,24,23,2023-12-14,24-289,DAL,NaN,MIN,L (-18),1,39:19,...,5,6,13,2,0,8,2,39,30.6,-12
25,25,24,2023-12-16,24-291,DAL,@,POR,W (+11),1,37:21,...,10,12,10,1,0,4,3,40,33.6,-4
26,26,25,2023-12-18,24-293,DAL,@,DEN,L (-26),1,36:22,...,8,11,8,0,0,3,1,38,31.5,-29
27,27,26,2023-12-20,24-295,DAL,NaN,LAC,L (-9),1,44:23,...,8,9,10,1,0,5,1,28,17.4,-4
28,28,NaN,2023-12-22,24-297,DAL,@,HOU,L (-26),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
29,29,27,2023-12-23,24-298,DAL,NaN,SAS,W (+25),1,31:37,...,10,12,10,1,1,2,1,39,34.8,+37
30,30,28,2023-12-25,24-300,DAL,@,PHO,W (+14),1,43:31,...,5,6,15,4,3,4,2,50,52.5,+16
31,31,29,2023-12-27,24-302,DAL,NaN,CLE,L (-3),1,36:36,...,7,7,6,2,2,5,0,39,28.2,-9
32,32,NaN,2023-12-28,24-303,DAL,@,MIN,L (-8),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
33,33,30,2023-12-30,24-305,DAL,@,GSW,W (+10),1,37:31,...,8,8,10,1,1,4,3,39,29.8,+9
34,34,31,2024-01-01,24-307,DAL,@,UTA,L (-37),1,33:44,...,6,6,14,1,0,4,1,19,14.8,-17
35,35,32,2024-01-03,24-309,DAL,NaN,POR,W (+29),1,30:32,...,6,6,5,1,0,4,1,41,32.2,+23
36,36,NaN,2024-01-05,24-311,DAL,NaN,POR,W (+36),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

**Data cleaning**

In [22]:
import numpy as np

df = df.drop(df[df.G == "G"].index)                          # deletes repeating headers in content
df = df.drop(df[df.FG == "Inactive"].index)                  # deletes games where he was inactive
df.rename(columns={'Unnamed: 5': 'Home'}, inplace=True)      # renames columns to previous game stats
      
df = df.drop(columns=["Date",                                # deletes useless columns
                      "Tm",
                      "Unnamed: 7", 
                      "Age", 
                      "GS", 
                      "+/-"])       
df['Home'].replace({np.nan: '1', '@': '0'}, inplace=True)       # reformats "Home" values
df['MP'] = pd.to_datetime(df['MP'], format='%M:%S').dt.minute   # turns MP into a datetime type and rounds to nearest minute
df['NextOpp'] = df['Opp'].shift(-1)                             # Shift 'Opp' values down by one and assign to 'NextOpp' and so on
df['NextPTS'] = df['PTS'].shift(-1)                          
df.fillna(0, inplace=True)                                      # replaces NaN with 0
df = df.reset_index(drop=True)                                  # resets index

df

,Rk,G,Home,Opp,MP,FG,FGA,FG%,3P,3PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,NextOpp,NextPTS
0,1,1,0,SAS,34,13,25,.520,3,11,...,13,10,2,0,4,1,33,28.4,BRK,49
1,2,2,1,BRK,36,16,25,.640,9,14,...,10,7,0,0,0,1,49,45.0,MEM,35
2,3,3,0,MEM,40,11,22,.500,6,12,...,12,12,1,1,6,4,35,28.9,CHI,18
3,4,4,1,CHI,40,5,16,.313,1,8,...,7,10,2,1,6,2,18,13.0,DEN,34
4,5,5,0,DEN,38,11,24,.458,6,11,...,10,8,0,1,9,2,34,21.9,CHO,23
5,6,6,1,CHO,36,8,19,.421,1,9,...,12,9,0,1,4,3,23,18.3,ORL,29
6,7,7,0,ORL,35,9,17,.529,5,10,...,3,6,2,0,6,2,29,21.0,TOR,31
7,8,8,1,TOR,38,11,26,.423,2,10,...,7,8,4,1,4,3,31,23.2,LAC,44
8,9,9,1,LAC,31,17,21,.810,6,9,...,6,6,1,0,1,1,44,41.7,NOP,30
9,10,10,0,NOP,27,11,18,.611,4,9,...,4,9,1,0,2,0,30,27.9,NOP,16
10,11,11,0,NOP,26,5,16,.313,3,5,...,2,2,0,0,8,0,16,0.4,WAS,26
11,12,12,0,WAS,32,7,18,.389,4,11,...,7,10,0,0,3,2,26,20.3,MIL,35
12,13,13,0,MIL,35,15,26,.577,4,9,...,9,9,0,0,3,1,35,27.6,SAC,25
13,14,14,1,SAC,31,7,19,.368,3,7,...,10,7,3,0,2,0,25,23.0,LAL,30
14,15,15,0,LAL,38,10,26,.385,3,12,...,12,8,2,0,0,2,30,25.8,LAC,30
15,16,16,0,LAC,38,12,27,.444,1,8,...,3,4,2,2,4,4,30,17.4,HOU,41
16,17,17,1,HOU,37,15,29,.517,3,10,...,9,9,2,0,0,3,41,36.1,OKC,36
17,19,18,1,OKC,45,11,22,.500,5,13,...,15,18,2,2,7,2,36,36.5,UTA,40
18,20,19,1,UTA,31,14,25,.560,6,12,...,10,11,1,0,4,2,40,35.0,POR,32
19,21,20,0,POR,41,11,28,.393,3,14,...,6,10,1,1,5,1,32,21.5,MEM,35
20,22,21,0,MEM,43,9,21,.429,5,10,...,8,6,2,2,3,3,35,29.3,LAL,33
21,23,22,1,LAL,43,12,28,.429,3,10,...,6,17,1,0,4,0,33,28.9,MIN,39
22,24,23,1,MIN,39,15,27,.556,2,7,...,6,13,2,0,8,2,39,30.6,POR,40
23,25,24,0,POR,37,15,28,.536,4,12,...,12,10,1,0,4,3,40,33.6,DEN,38
24,26,25,0,DEN,36,13,24,.542,6,12,...,11,8,0,0,3,1,38,31.5,LAC,28
25,27,26,1,LAC,44,9,25,.360,2,11,...,9,10,1,0,5,1,28,17.4,SAS,39
26,29,27,1,SAS,31,13,27,.481,5,10,...,12,10,1,1,2,1,39,34.8,PHO,50
27,30,28,0,PHO,43,15,25,.600,8,16,...,6,15,4,3,4,2,50,52.5,CLE,39
28,31,29,1,CLE,36,14,29,.483,3,10,...,7,6,2,2,5,0,39,28.2,GSW,39
29,33,30,0,GSW,37,14,29,.483,5,13,...,8,10,1,1,4,3,39,29.8,UTA,19
30,34,31,0,UTA,33,6,20,.300,3,13,...,6,14,1,0,4,1,19,14.8,POR,41
31,35,32,1,POR,30,13,21,.619,4,7,...,6,5,1,0,4,1,41,32.2,0,0

In [ ]:
#this is where i left off

In [83]:
# Convert multiple columns to numeric
columns_to_convert = ['G', 'FG', 'FGA', '3P', '3PA', 'FT', 
                      'FTA', 'ORB', 'DRB', 'TRB', 'AST', 
                      'STL', 'BLK', 'TOV', 'PF', 'PTS', 'NextPTS']

df = df.apply(pd.to_numeric, errors='coerce').fillna(0)

print(df.dtypes)

Home         int64
G            int64
FG           int64
FGA          int64
3P           int64
3PA          int64
FT           int64
FTA          int64
GmSc       float64
PTS          int64
NextPTS      int64
dtype: object

In [84]:
df = df.drop(df.index[-1]) # drops the last row because the predictor variable (NextPTS) is 0 so that could mess up the training
df

    Home   G  FG  FGA  3P  3PA  FT  FTA  GmSc  PTS  NextPTS
0      0   1  13   25   3   11   4    7  28.4   33       49
1      1   2  16   25   9   14   8   10  45.0   49       35
2      0   3  11   22   6   12   7   10  28.9   35       18
3      1   4   5   16   1    8   7    9  13.0   18       34
4      0   5  11   24   6   11   6    7  21.9   34       23
5      1   6   8   19   1    9   6    7  18.3   23       29
6      0   7   9   17   5   10   6    6  21.0   29       31
7      1   8  11   26   2   10   7   10  23.2   31       44
8      1   9  17   21   6    9   4    4  41.7   44       30
9      0  10  11   18   4    9   4    5  27.9   30       16
10     0  11   5   16   3    5   3    5   0.4   16       26
11     0  12   7   18   4   11   8   12  20.3   26       35
12     0  13  15   26   4    9   1    4  27.6   35       25
13     1  14   7   19   3    7   8   10  23.0   25       30
14     0  15  10   26   3   12   7    8  25.8   30       30
15     0  16  12   27   1    8   5    5  17.4   30       41
16     1  17  15   29   3   10   8    9  36.1   41       36
17     1  18  11   22   5   13   9   14  36.5   36       40
18     1  19  14   25   6   12   6    8  35.0   40       32
19     0  20  11   28   3   14   7    8  21.5   32       35
20     0  21   9   21   5   10  12   13  29.3   35       33
21     1  22  12   28   3   10   6    6  28.9   33       39
22     1  23  15   27   2    7   7    7  30.6   39       40
23     0  24  15   28   4   12   6    6  33.6   40       38
24     0  25  13   24   6   12   6   10  31.5   38       28
25     1  26   9   25   2   11   8   14  17.4   28       39
26     1  27  13   27   5   10   8   11  34.8   39       50
27     0  28  15   25   8   16  12   12  52.5   50       39
28     1  29  14   29   3   10   8   10  28.2   39       39
29     0  30  14   29   5   13   6    7  29.8   39       19
30     0  31   6   20   3   13   4    6  14.8   19       41

## Linear Regression

In [85]:
from sklearn.model_selection import train_test_split

y = df['NextPTS']
X = df.drop('NextPTS', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=100)

y_test

13    30
27    39
1     35
25    39
5     29
Name: NextPTS, dtype: int64

In [86]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
# train the empty linear regression model on the following data set
lr.fit(X_train, y_train)
# applying the model to make prediction
y_lr_train_pred = lr.predict(X_train)
y_lr_test_pred = lr.predict(X_test)

y_lr_test_pred

array([38.70561126, 26.5279756 , 23.24342857, 47.96512052, 41.04765674])

In [87]:
from sklearn.metrics import mean_squared_error, r2_score

lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)

lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)

In [88]:
lr_results = pd.DataFrame(["Linear Regression", lr_train_mse, lr_train_r2, lr_test_mse, lr_test_r2]).transpose()
lr_results.columns = ["Method", "Training MSE", "Training R2", "Test MSE", "Test R2"]
lr_results

              Method Training MSE Training R2   Test MSE  Test R2
0  Linear Regression    39.817186    0.474617  119.01509 -5.52495

**Actually Predicting**

In [79]:
X_new = df
X_new = X_new.loc[[29]]   
X_new

    Home   G  FG  FGA  3P  3PA  FT  FTA  GmSc  PTS  NextPTS
29     0  30  14   29   5   13   6    7  29.8   39       19

In [65]:
# Ensure that the order of columns in X_new_encoded is consistent with the order used during training
X_new_encoded = X_new_encoded.reindex(columns=X.columns, fill_value=0)

# Make predictions using the trained model
next_game_predictions = rf.predict(X_new_encoded)

# Display or use the predictions as needed
print("Predicted Points for Next Game:", next_game_predictions)

NameError: name 'X_new_encoded' is not defined

## Random Forest